@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:wght@700&family=Permanent+Marker&family=Shalimar&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
  }
/* body styling */
body {
background-image: url(../images/background_image.webp);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
min-height: 100vh;
position: relative;
  }

main {
  height: 500px;
  
}


h1, h2, h3 {font-family: Indie Flower, sans-serif}

/* nav styling */
nav {
    background-color: white;
    border-radius: 12px;
    margin: auto;
    max-width: 30%;
    transform: translate(0px, 30px);
    padding: 5px;
    margin-bottom: 20px;

}

#nav-centre {
border-style: solid;
}

nav h1 {
    text-align: center;
    font-size: 30px;
}

nav p {
  font-size: 20px;
}

#b2sheader {
  text-decoration: none;
  color:black
}

/* container styling */
.container {
  width: 50vw;
  display: flex;
  background-color: white;
  border-radius: 12px;
  align-items: center;
  transform: translate(0px, 50px);
  padding-bottom: 200px;
  justify-content: center;
  border: black  ;
  border-style: solid;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem
}

.btn {
  font-size:30px;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
  background: rgba(255,208,224,255);
  border-style:solid;
  border-color: black;
  padding: 7px;
  font-family: Indie Flower, sans-serif;
  border-radius: 10px
} 

.btn:hover {
  transition: transform 130ms;
  transform:scale(1.1)
}

.flex-column {
display:flex;
flex-direction: column;
}

#game-box h2 {
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
}

/* game page styling */

.choice-container {
  display: flex;
  background-color: pink;
  margin-bottom: 10px;
  border: solid;
  font-size: 30px;
  font-family: Indie Flower, sans-serif;
  padding: 10px;
  border-radius: 10px;
}

.choice-letter {
  background-color: rgba(111,216,187,255);
  padding: 0px;
  background-color: rgba(111,216,187,255);
  transform: translate(-10px, 0px);
  border-radius: inherit;

}

.choice-container:hover {
  transition: transform 130ms;
  transform:scale(1.1);
  cursor:pointer;

}

.choice-answer {
  width:100%
}


/*correct and incorrect colour buttons */

.correct-answer {
  background-color: rgb(12, 226, 23);
}

.incorrect-answer {
  background-color: rgb(214, 16, 56);
}


/* score and question counter styling */
.quizcounters {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.quizcounters h2, p {
  font-family: Indie Flower, sans-serif;
}

#counterbox {
  background-color: white;
    border-radius: 20px;
    padding: 10px;
    padding-top: 10px;
    transform: translate(0px, 30px);
    width: 70px;
    border-style: solid;
}

#scorebox {
  background-color: white;
    border-radius: 20px;
    padding: 10px;
    padding-top: 10px;
    transform: translate(0px, 30px);
    width: 70px;
    border-style: solid;
}



/** rules page styleing */

.rulesabout h3 {
  padding-bottom: 15px;
  font-size: 25px;
  text-decoration: underline;
}

.rulesabout p {
  font-size: 20px;
  padding-bottom: 15px;
}

#rulesplaybtn {
  display: flex;
    justify-content: center;
    margin: auto;
    width: 50px;
}


/** game over styling */


#gameover-box h2 {
  text-align: center;
  margin-bottom: 10px;

}

#feedback {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: auto;
    margin-right: AUTO;
  
}

#scoreheading  {
  margin-bottom: 0px;
}

.endbtn {font-size:18px;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
  background: rgba(255,208,224,255);
  border-style:solid;
  border-color: black;
  padding: 7px;
  font-family: Indie Flower, sans-serif;
  border-radius: 10px;
  max-width: 90px;
  margin-left: auto;
  margin-right: auto;

}

.endbtn:hover {
  transition: transform 130ms;
  transform:scale(1.1)
}

/** form box */

.contact-form {
  display: grid;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
}

.contact-form h3 {
  width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.contact-form label {
  padding: 3px;
  font-family: Indie Flower, sans-serif;
  font-size:20px;
}

#full_name, #email, #scoreform {
  border-style: solid;
    justify-content: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-width: thin;
    border-radius: 5px;
    margin-top: 5px;
}

#messageinput {
  border-style: solid;
    justify-content: center;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.join-button {
  margin: 10px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    height: 30px;
    border-radius: 10px;
    background-color: pink
}

.join-button:hover {
  cursor: pointer;

}

/** footer styling */ 

.stickyfooter
{
  position: absolute;
  top: 100%;
  width: 100%;
 
}

  footer {
    background-color:black;
    color: black;
    clear: both;
    
  }
  
  footer ul {
    text-align: center;
    text-decoration: none;
  }
  
  footer ul li {
    display: inline;
  }
  
  footer li i {
    font-size: 150%;
    color: rgba(255,208,224,255);
  }
  
  .sm-icons i {
    padding: 1%;
    margin: 1%;
  }
  
  .sm-icons {
    padding: 25px;
  }
  
  .sm-icons a {
    text-decoration: none;
  }

  
  .sm-icons :hover {
    transition: color 0.4s;
    color:  rgba(111,216,187,255);
    
  }
  
  
#gamefooter {
  top: 130%;
}

#gofooter {
  top: 130%;
}

/** media queries */


@media (max-width: 1000px) {
  #rulesfooter { top: 130%; }
}

@media (max-width: 700px) {
  #gamefooter {
    top: 150%;

  }

  #nav-centre {
    max-width: 50%;
  }

 .container {
  width: 70vw;
 }

#game-box h2{ font-size: 25px;

}

.choice-container {
  font-size :25px;
}

.choice-letter {
  height: 40px;
}

#rulesfooter {
  top: 160%
}
}

@media (max-width: 550px) {
  #feedback {
    max-width: 40vh;
  }
}
